<table>
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let value of data">
      <td *ngFor="let column of columns">{{value[column]}}</td>
    </tr>
  </tbody>
</table>