<div>
  <j-button label="Jalapeno Button"></j-button>
</div>
<div>
  <j-dropdown [options]="[{ value: 1, label: 'A' }, { value: 2, label: 'B' }]"></j-dropdown>
</div>
<div>
  <j-datagrid [staticData]="[{ value: 1, label: 'A' }, { value: 2, label: 'B' }]"></j-datagrid>
</div>