<h1>Jalapeno 2.0</h1>

<nav>
  <ul>
    <li><a routerLink="/components" routerLinkActive="active">Components</a></li>
    <li><a routerLink="/milestone-0001" routerLinkActive="active">MileStone-0001</a></li>
  </ul>
</nav>

<router-outlet></router-outlet>